/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

.forum-regular {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}

/* Navbar */
.nav-bg {
    background-color: #6d676e;
}

.center-nav {
    margin-left: auto;
    margin-right: auto;
}

/* Main styles */
.main-bg {
    background-color: #ffffff;
}

/* Cards */
/* Override card style from bootstrap */
.custom-card-bg {
    background: none !important;
    border: none !important;
}

.card-body {
    background-color: #83009a;
    border-radius: 30px;
}

.author {
    color: #ffffff;
}

.post-link {
    color: #fa1616;
    text-decoration: none;
}

.excerpt {
    color: #ffffff
}

.posted-on {
    color: #ffffff
}

.media a {
    text-decoration: none;
}

/* Card styling for viewing post */
.card-text {
    padding: 15px;
}

.card {
    background: #83009a;
}

/* Style to make footer stick to bottom of page */
html, body {
    height: 100%;
    margin: 0;
}
/* Flexbox layout for page */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}

/* Post Detail styles */
.post-title {
    margin-top: 50px;
}