{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-12 masthead-text">
                <h1 class="post-title forum-regular right">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_at }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div>
                <p class="card-text" id="post{{ post.id }}">{{ post.content | safe | linebreaksbr }}</p>
                <!-- Check if the user is authenticated and the author of the post -->
                {% if user.is_authenticated and post.author == user %}
                <a href="{% url 'edit_post' post.id %}" class="btn btn-secondary">Edit</a>
                <form action="{% url 'delete_post' post.id %}" method="get" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>                
                {% endif %}
            </div>
        </div>
    </div>

    <div>
        <h3>Comments:</h3>
        <div class="comments-section">
            <h3>Leave a Comment:</h3>
            <form method="post" action="{% url 'post_detail' post.slug %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-primary">Submit Comment</button>
            </form>
                {% for comment in comments %}
                    {% include 'level_lounge/comments.html' with comment=comment %}
                {% endfor %}
            </div>
    </div>
</div>

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/replies.js' %}"></script>
{% endblock %}

{% endblock content %}